.AllHome {
    background: #f5f5f5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
  }
  a {
    text-decoration: none;
  }
  .Container {
    display: flex;
    justify-content: space-between;
    width: 91.5%;
  }
  .SearchContainer {
    display: flex;
    align-items: flex-end;
  }
  .SearchContainer input {
    font-size: 15px;
    color: #757575;
    width: 150%;
    font-style: normal;
    padding: 8px 70px 10px 20px;
    outline: none;
    border: none;
    background-color: #f5f5f5;
  }
  .btn {
    border: none;
    /* width: 100%; */
    padding: 10px 0px 5px 40px;
    background: #301d73;
    border: 2px solid #301d73;
    border-radius: 5px;
    cursor: pointer;
  }
  button .searchButton {
    width: 10%;
    padding: 6px 10px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    display: flex;
  }
  .HistoryContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 3px;
  }
  .HistoryContainer li {
    list-style: none;
    background-color: white;
    padding: 15px;
    padding-left: 60px;
    gap: 5px;
  }
  .HistoryContainer .About {
    padding: 15px;
    padding-left: 100px;
    display: flex;
    justify-items: end;
    width: 100%;
    background-color: white;
  }
  
  /* Pcrc Container/ */
  .PcrcSection {
    margin: auto;
    width: 100%;
    background-color: white;
  }
  .PcrcContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    margin: auto;
  }
  .ReportContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
  }
  .ReportContainer .case {
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
  .ReportContainer .JoinContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-content: space-between;
    width: 40%;
    align-items: center;
  }
  .ReportContainer .JoinContainer .Join button {
    padding: 15px 40px;
    background-color: #2a166f;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 10px;
  }
  .ReportContainer .JoinContainer .Login button {
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    border: 1px solid #2a166f;
    border-radius: 10px;
  }
  .ReportContainer .JoinContainer .Login button p {
    padding-left: 10px;
  }
  
  /*  */
  .membershipContainer {
    background-color: #ffffff;
    margin-top: 3px;
    height: 10vh;
    display: flex;
  }
  .membershipContainer ul {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 77%;
    margin: auto;
  }
  .membershipContainer ul li select {
    cursor: pointer;
    list-style: none;
    color: #301d73;
    font-weight: 900;
    display: flex;
    justify-content: space-around;
    width: 10rem;
    border: none;
    outline: none;
  }
  .membershipContainer ul li {
    list-style: none;
    color: #301d73;
    font-weight: 700;
  }
  
  /*  */
  .Statespg {
    padding: 60px;
    font-size: 15px;
    margin: auto;
    color: #282c34;
  }
  .AllState {
    display: grid;
    grid-template-columns: 1fr 6fr;
    justify-content: space-between;
    width: 97%;
  }
  
  .Statespg h1 {
    font-weight: 500;
    margin-bottom: 40px;
  }
  .Statespg .area {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .Statespg input {
    padding: 10px;
    margin-bottom: 80px;
    width: 200px;
  }
  .Statespg p {
    font-size: 18px;
    width: 90%;
  }
  .Blur {
    color: rgb(206, 217, 206);
  }
  .Blur:hover {
    color: rgb(48, 29, 115);
    font-size: 25px;
    transition: all ease-in-out 1s;
  }
  .ba {
    border: 1px solid rgb(52, 52, 141);
    width: 30%;
    margin-top: -20px;
  }
  .Statespg .bar {
    border: 1px solid rgb(52, 52, 141);
    width: 10%;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .Statespg .area h4 {
    font-weight: 500;
    cursor: pointer;
    color: #282c34;
  
    display: inline;
  }
  
  .Statespg .area h2 {
    font-weight: 500;
    cursor: pointer;
    color: blue;
  
    display: inline;
  }
  .Statespg .area a {
    color: blue;
    text-decoration: none;
    margin-left: 1px;
  }
  
  @media screen and (max-width: 1115px) and (min-width: 0px) {
    .HistoryContainer {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2px;
      align-items: center;
      margin-left: 10px;
      margin-bottom: 3px;
    }
    .HistoryContainer .About {
      padding-left: 50px;
      width: 112%;
    }
    .MemContainer .Connected .p {
      width: 95%;
      font-size: 13px;
      line-height: 1.4;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-style: normal;
      font-weight: 100;
      margin-bottom: 10px;
    }
    .ReportContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 65%;
    }
    .AllState {
      display: grid;
      grid-template-columns: 1fr 6fr;
      justify-content: space-between;
      width: 100%;
    }
  }
  
  @media screen and (max-width: 950px) and (min-width: 0px) {
    .HistoryContainer .About {
      padding-left: 50px;
      width: 105%;
    }
    .AllState {
      display: grid;
      grid-template-columns: 1fr 6fr;
      justify-content: space-between;
      width: 100%;
    }
    .Statespg p {
      font-size: 16px;
      width: 90%;
    }
  }
  @media screen and (max-width: 900px) and (min-width: 0px) {
    .membershipContainer ul {
      width: 89%;
    }
  }
  @media screen and (max-width: 850px) and (min-width: 0px) {
    .HistoryContainer .About {
      padding-left: 50px;
      width: 102%;
    }
    .ReportContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 70%;
    }
    .LearnContainer .gorem h1 {
      font-size: 2.1rem;
      width: 95%;
      font-weight: 100;
    }
    .LearnContainer .gorem p {
      width: 83%;
      font-size: 15px;
    }
    .LearnContainer .pcrcOfficer img {
      width: 100%;
      height: 60vh;
    }
    .PublicationContainer {
      display: grid;
      grid-template-columns: 1fr;
      margin: 0px 6rem 20px;
    }
    .ViewBy {
      width: 100%;
    }
    .Statespg p {
      font-size: 15px;
      width: 90%;
    }
  }
  @media screen and (max-width: 802px) {
    .AllHome .Container {
      display: none;
    }
    .PcrcSection {
      display: none;
    }
    .membershipContainer {
      display: none;
    }
    .Statespg p {
      font-size: 12.7px;
      width: 95%;
    }
  }
  @media screen and (max-width: 600px) {
    .AllState {
      grid-template-columns: 1fr;
    }
    .Statespg p {
      font-size: 12px;
      width: 95%;
    }
  }
  
  @media screen and (max-width: 500px) {
    .Statespg p {
      font-size: 10px;
      width: 95%;
    }
  }
  @media screen and (max-width: 450px) {
    h1 {
      font-size: 15px;
    }
    .Statespg {
      padding: 20px;
      font-size: 15px;
      margin: auto;
      color: #282c34;
    }
    .Statespg {
      margin-top: -30px;
    }
    .Statespg .area {
      flex-direction: column;
      padding: 0;
    }
    .Statespg p {
      font-size: 10px;
      width: 95%;
    }
  }
  
  /* .Statespg .area2 {
      width: 30%;
      justify-content: space-between;
    } */
  